body{
    margin: 0;
    background-image: url(Car.jpg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
}
#clock-container{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}
#clock{
    font-family: monospace;
    font-size: 3rem;
    font-weight: bold;
    margin-bottom: 350px;
}
